@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Componentes personalizados */
@layer components {
  .svg-fullscreen {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #Playa > g:hover *,
  #Juegos > g:hover * {
    @apply stroke-white;
  }
}
