@import "tailwindcss";

html {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Permitimos que los objetos se escalen desde su centro */
svg > #Playa > g,
svg > #Juegos > g,
#tarjetaObjeto > svg > g {
  @apply origin-center;
  transform-box: fill-box;
}

.arbol {
  @apply origin-bottom;
  transform-box: fill-box;
}

.seleccionado *:not(.rectangulo) {
  /* @apply stroke-white; */
}
.incorrectoClickado * {
  @apply transition-[fill,stroke] duration-300 ease-in-out;
}
.incorrectoSeleccionado * {
  @apply stroke-red-500 fill-red-500;
}
